/* Register.css */
.register-form-main {
    width: 200px;
    max-width: 100%;
    margin: 0 auto;
    background-color: lightblue;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
}

.register-form label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    color: gray;
}

.register-form input[type="text"],
.register-form input[type="password"] {
width: 100%;
    padding: 12px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 16px;
box-sizing: border-box;
    margin-bottom: 20px;
}

.register-form .btn-primary {
width: 100%;
    padding: 12px;
    background-color: dodgerblue;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.register-form .btn-primary:hover {
    background-color: deepskyblue;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.card {
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card h1 {
    text-align: center;
    margin: 0;
    padding: 40px 0;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.card-body {
padding: 30px;
    background-color: white;
    border-radius: 10px;
}