.user-profile .card {
    margin-top: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 15px;
    border: none;
    background: linear-gradient(to right, black, #6c757d);
}

.profile-login-form-main {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: transparent;
    border-radius: 15px;
    margin-bottom: 0px;
}

.user-profile .btn {
    margin-top: 40px;
    border-radius: 5px;
    padding: 10px 15px;
    transition: all 0.3s ease;
    color: black;
}


.user-profile .btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
}

.user-profile .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.user-profile .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.user-profile .btn-outline-primary {
    background-color: transparent;
    border-color: #007bff;
    margin-right:30px;
    color : #007bff;
    text-decoration: underline;
}

.user-profile .btn-outline-dark {
    background-color: transparent;
    border-color: #343a40;
    text-decoration: underline;
    color:#343a40;
}

.user-profile .btn-link {
    color: #007bff;
    text-decoration: none;

}

.user-profile .btn-secondary {
    margin-left : 70%;
    color:white;
}

.user-profile .btn-danger {
    color: white;
}

.user-profile .form-control {
    width: 100%;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #007bff;
    margin-bottom: 30px;
}

.user-profile .form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.user-profile .alert-info {
    background-color: #d1ecf1;
    border-color: #bee5eb;
    color: #0c5460;
    opacity: 0.9;
}

.user-profile .container {
    max-width: 600px;
}
